body {
  margin: 0;
  font-family: "roboto";
}

.page-container {
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 600px) {
  .page-container {
    max-width: 100%;
  }
}

/*--------------------Title----------------*/
h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 2em;
  margin-right: 20px;
}
@media only screen and (min-width: 200px) and (max-width: 370px) {
  h1 {
    font-size: 1.6em;
  }
}

#arrow {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 25px;
}

#header-picture {
  width: 375px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 600px) {
  #header-picture {
    width: 100%;
    height: 400px;
  }
}

/*-------------Main Title------------------*/
.main-block {
  display: inline-block;
}

#main-title {
  float: left;
  margin: auto;
  margin-left: 10px;
  margin-top: 20px;
}

.liked {
  float: right;
  font-size: 1.5em;
  color: black;
  margin-top: 50px;
  margin-right: 20px;
}
@media only screen and (min-width: 200px) and (max-width: 370px) {
  .liked {
    margin-top: 42px;
  }
}

/*------------Main Menu---------------*/
.menu-title {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.menu-title h2 {
  font-weight: normal;
  margin: 50px 0 0 0;
}
.menu-title .underline {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin: 2px;
}

.box-menu {
  border-radius: 20px 20px 0 0;
  margin: auto;
  background-color: white;
  position: relative;
  top: -50px;
  width: 100%;
}

.card-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 335px;
  height: 80px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
}
@media only screen and (min-width: 600px) {
  .card-menu {
    max-width: 50%;
  }
}

.big-menu {
  height: 100px;
}

.menu-card-text {
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
  display: inline;
  max-width: 335px;
}
.menu-card-text h3 {
  margin: 0 0 5px 10px;
}

.menu-plus {
  float: left;
  font-size: 15px;
  max-width: 280px;
  margin-left: 10px;
}

.menu-price {
  float: right;
  margin: auto;
  margin-right: 15px;
  font-weight: bold;
}

.big-price {
  margin: auto;
  margin-right: 15px;
  margin-top: 15px;
}
@media only screen and (max-width: 330px) and (min-width: 320px) {
  .big-price {
    margin: 0;
    margin-top: 15px;
  }
}

/*--------Button Commander------*/
.explore {
  height: 50px;
  border-radius: 50px;
  width: 220px;
  background: linear-gradient(160deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  font-size: 15px;
  margin-top: 50px;
  font-size: 20px;
}

/*-------------Footer----------------------*/
Footer {
  background-color: #353535;
  width: 100%;
  color: white;
  text-align: left;
  height: 225px;
  margin-top: 60px;
}
Footer div {
  margin-left: 25px;
  margin-top: 15px;
  font-size: 1em;
}
Footer div .fa-utensils {
  margin-right: 18px;
}
Footer div .fa-hands-helping {
  margin-right: 10px;
}
Footer h1 {
  padding-top: 20px;
  margin-left: 25px;
  font-size: 1.3em;
  font-weight: normal;
}
Footer #contact {
  margin-bottom: 30px;
}

@media only screen and (min-width: 667px) {
  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=menu.css.map */
