@import "../Base/_font";
h1 {
    @include Font-title;
    margin-right: 20px;
    
}

#arrow{
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}

#header-picture{
    width: 375px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    @media only screen and (min-width: 600px) {
        width: 100%; 
        height: 400px;
    }
    
}

