@import "../Utils/variables";

@mixin Card-resto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 335px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    background-color: white;
}

