@import "../Utils/variables";

@mixin Font-title {
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 2em;
    @media only screen and (min-width: 200px) and (max-width: 370px) {
        font-size: 1.6em;
    }
}

@mixin Font-logo {
    font-weight: bold;
    font-size: 1em;
    color: $color-black;
}

@mixin Font-h2-reservation {  
    font-size: 25px;
    max-width: 250px;    
}

@mixin Font-p-discoveries {
    font-size: 18px;
    max-width: 320px;
}

$roboto: "roboto";