@import "../Utils/variables";

.main-block{
    display: inline-block;
}

#main-title{
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.liked{
    float: right;    
    font-size: 1.5em;
    color: $color-black;
    margin-top:30px ;    
    margin-right: 20px;
    
}