@import "../Composants/menu-title";
@import "../Composants/button";



.box-menu{    
    border-radius: 20px 20px 0 0;
    background-color: white;
    position: relative;
    top: -50px;
}

.card-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 335px;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: white;   
}
.big-menu{
    height: 90px;
}

.menu-card-text {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    display: inline;
    & h3 {
        margin: 0 0 5px 10px;
    
    }
}
.menu-plus {
    float: left;
    font-size: 15px;
    width: 280px;
    margin-left: 10px;
}

.menu-price {
    float: right;
    margin-right: 15px;
    font-weight: bold;
}

.big-price{
    margin-top: 15px;
}

/*--------Button Commander------*/
.explore {
    @include Button-explorer;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
