@import "../Composants/menu-title";
@import "../Composants/button";

.box-menu {
    border-radius: 20px 20px 0 0;
    margin: auto;
    background-color: white;
    position: relative;
    top: -50px;
    width: 100%;
}

.card-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 335px;
    height: 80px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}
.big-menu {
    height: 100px;
}

.menu-card-text {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    display: inline;
    max-width: 335px;
    & h3 {
        margin: 0 0 5px 10px;
    }
}
.menu-plus {
    float: left;
    font-size: 15px;
    max-width: 280px;
    margin-left: 10px;
}

.menu-price {
    float: right;
    margin: auto;
    margin-right: 15px;
    font-weight: bold;
}

.big-price {
    margin: auto;
    margin-right: 15px;
    margin-top: 15px;
    @media only screen and (max-width: 330px) and (min-width: 320px) {
        margin: 0;        
        margin-top: 15px;
    }
}

/*--------Button Commander------*/
.explore {
    @include Button-explorer;
    margin-top: 50px;
    font-size: 20px;
}
