@import "../Utils/variables";




.h2-title-resto {
    margin: auto;
    margin-top: 20px;
    margin-left: 22px;
    text-align: initial;
    padding-top: 60px;
}


.resto-box {
    background-color: $color-box-resto;
    height: 1300px;
}

.card-resto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 335px;
    height: 250px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    position: relative;
    @media only screen and (min-width: 600px) {
        max-width: 50%; 
     }
    
}

.resto-picture {
    float: left;
    padding: 1px;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.text-nouveau {
    position: absolute;
    top: 15px;
    right: 16px;
    background-color: $color-background-new;
    color: $color-new;
    font-weight: bold;
    width: 80px;
    height: 30px;
    padding: 8px 0 0px 0;
    
}

.resto-card-text {
    display: inline-block;
    margin: auto;
    width: 90%;
}

h3 {
    float: left;
    margin: auto;
    margin-top: 15px;    
    &.french {
        margin-right: 140px;
    }
    @media only screen and (min-width: 600px) {
        max-width: 100%; 
     }
}

.resto-city {
    float: left;
    text-align: left;
}

.liked {
    float: right;
    font-size: 2em;
    margin: auto;
    margin-top: 20px;
    color: $color-black;
}

.heart2:before {
    content: "\f004";
    background: linear-gradient(160deg, $color-pink, $color-purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.liked:hover .heart1, .liked .heart2 {
    display: none;
}
.liked:hover .heart2 {
    display: inline-block;
}

/*-------section desktop----------*/

@media only screen and (min-width: 1000px) {
    .display-desktop {
        display: flex;
    }
    .row-restaurant {
        flex: 2;
        margin: auto;
        margin-left: 10px;
        width: 90%;
    }
    .card-resto{
        flex: auto;
        max-width: 65%;
        margin: auto;
        margin-bottom: 20px;        
    }
    .resto-box {
        height: 750px;
    }
}