@import "../Utils/variables";
@import "../Base/font";

.h2-title {
    margin-top: 100px;
    margin-left: 22px;
    text-align: initial;
}

.card-fonctionnement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0px 16px 0px;
    margin: 25px 25px 0 25px;
    text-align: center;
    width: 330px;
    height: 75px;
    border-radius: 30px;
    background-color: $color-white;
}

.inside-card {
    display: inline-block;
    padding-top: 40px;
    @include Font-logo;
    position: relative;
}

.logo-fonction {
    margin: 0 20px 0 20px;    
}
.fa-store {
    color: $color-purple;
}

.text-card {
    text-decoration: none;
    margin-right: 40px;    
}
.text-card2{
    text-decoration: none;
    margin-right: 50px; 
}
.number {
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    background: $color-purple;
    border-radius: 100%;
    color: white;
    border: 2px solid $color-purple;
    position: absolute;
    top: 32px;
    left: -45px;
}

@media only screen and (min-width: 667px) {
    .h2-title{
        margin-left: 40px;
    }
    .row-fonctionnement{
        margin-left: 150px;
    }
}
@media only screen and (min-width: 768px) {
    .row-fonctionnement{
        margin-left: 200px;
    }
}
@media only screen and (min-width: 1024px) {
    .h2-title{
        margin-left: 60px;
    }
    .row-fonctionnement{
        margin-left: 350px;
    }
}