$header-background-color: #eaeaea;
$color-purple: #9356DC;
$color-pink:#FF79DA;
$color-white: white;
$color-grey:#c7c5c5;
$color-black: black;
$color-box-resto: #f6f6f6;
$color-background-footer:  #353535;
$color-background-new: #99e2d0;
$color-new: #139273;